@model bool

@if (Model)
{
    <div style="padding: 1em 0;">
        <span class="fa fa-thumbs-o-up"></span>
        Avatars have been set up.
    </div>
}
else
{
    <div style="padding-top: 1em;">
        <span class="fa fa-ban"></span>
        Avatars have not been set up, click the button to add default avatars.

    </div>
    <form asp-action="SetupDefaultAvatars" method="post" style="padding: 1em 0;">
        <button type="submit" class="btn btn-primary">Add default avatars</button>
    </form>
}
